.note {
    border: 1px solid rgba(0, 0, 0, 0.313);
    border-radius: 1.5rem;
    min-width: 300px;
    width: 300px;
    min-height: 300px;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: top;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.3s linear;

}

.note:hover {
    transform: scale(1.01);
}

.note__content {
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    min-height: 96px;
}

.note-buttons button {
    margin-right: 0.5rem;

}

.notes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 2rem;
}